@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" 
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle me-2"></i>@(User.Identity?.Name ?? "Account")
                @if (User.IsInRole("Admin"))
                {
                    <span class="badge bg-danger ms-1">Admin</span>
                }
                else if (User.IsInRole("Organizer"))
                {
                    <span class="badge bg-primary ms-1">Organizer</span>
                }
                else if (User.IsInRole("User"))
                {
                    <span class="badge bg-success ms-1">User</span>
                }
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user me-2"></i>Profile
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="dropdown-item p-0" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="btn btn-link text-decoration-none text-dark w-100 text-start">
                            <i class="fas fa-sign-out-alt me-2"></i>Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">
                <i class="fas fa-user-plus me-1"></i>Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt me-1"></i>Login
            </a>
        </li>
    }
</ul>
